@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Open Sans", sans-serif;
}

body{
  text-align: center;
}

hr {
  margin-top: 5px;
  margin-bottom: 0;
  border: 0;
  clear: both;
  display: block;
  width: 96%;               
  background-color: rgb(0, 0, 0);
  height: 2px;
}

.title{
  margin-top: 15vh;
  font-size: 64px;
  font-weight: 700;
  color: rgb(10, 10 ,10);
}

/*---NAV BAR---*/
nav{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-button {
  font-family: "Open Sans";
  background-color: rgb(255, 255, 255);
  color:rgb(255, 107, 139);
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  border: 0;
}

nav .nav-button:disabled{
  background-color: rgb(220, 220, 220);
}

nav .logo-container {
  margin:0px 14px;
}

nav .logo-container .test-logo {
  font-size: 30px;
  font-weight: 700;
}

/*---HOME---*/
.primary-button {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  background: linear-gradient(30deg, rgb(255, 107, 139),rgb(255, 174, 107));
  padding: 14px 18px;
  font-weight: 500;
  border-radius: 25px;
  border: 0;
}

.secondary-button{
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 14px;
  background: rgb(250, 250, 250);
  padding: 7px 9px;
  font-weight: 400;
  border-radius: 15px;
  border: 2px solid rgb(255, 120, 120);
}

.secondary-button:hover{
  background-color: rgb(220, 220, 220);
}

.primary-button:hover{
  background: linear-gradient(90deg, rgb(255, 107, 139),rgb(255, 174, 107));
}

.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, rgba(255, 174, 107, 0.5), rgba(255, 107, 139, 0.5));
}

.home{
  margin-top: 25vh;
}

/*---AUTH MODAL---*/
.auth-modal{
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  width: 360px;
  margin: 0 auto;
  height: 500px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  padding: 40px;
}

.auth-modal .close-icon-container{
  text-align: right;
}

.auth-modal .close-icon{
  font-size: 22px;
  background-color: rgb(255, 87, 87);
  color: rgb(255,255,255);
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.auth-modal form{
  display: flex;
  flex-direction: column;
}

.auth-modal form .input-group {
  margin-top: 14px;
  text-align: left;
}

.auth-modal form .input-group label {
  display: block;
  font-size: 18px;
  font-weight: 500;
}
.auth-modal form .input-group input[type="email"],
.auth-modal form .input-group input[type="password"] {
  margin-top: 10px;
  padding: 4px 2px;
  font-size: 20px;
  font-weight: 500;
  width: 100%;
}
.auth-modal form .input-group input[type="submit"]{
  width: 100%;
  display: block;
}
.auth-modal form .error {
  color: red;
}

/*---On Boarding---*/
.onboarding{
  display: flex;
}
.h2-top-border {
  border-top: 5 solid rgb(160, 160, 160);
}
.onboarding .profile-picture-container{
  flex: 1;
}
.onboarding .profile-picture-container .profile-picture{
  min-width: 150px;
  max-width: 250px;
  float: left;
  border-radius: 15px;
}
.onboaring-form{
  font-size: 22px;
  font-weight: 500;
  flex: 3;
}
.onboaring-form section {
  margin: 22px 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.onboaring-form section label{
  margin-right: 5px;
  margin-left: 20px;
}
.onboaring-form section input::-webkit-inner-spin-button,
.onboaring-form section input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.onboaring-form section input, select{
  width: 250px;
  font-size: 22px;
  margin: 4px 10px;
  padding: 4px 8px;
  border-radius: 10px;
  border-color: rgb(50, 50 ,50);
}
.onboaring-form section textarea{
  font-size: 22px;
  margin: 4px 10px;
}
.onboaring-form section .birthday-input{
  width: 80px;
}
.onboaring-form section input[type="checkbox"]{
  width: 20px;
  transform: scale(2);
}
.onboaring-form section input[type="radio"]{
  width: 15px;
  transform: scale(2);
}

/*---Dashboard---*/
.dashboard {
  display: flex;
  justify-content: space-between;
}

.dashboard .swipe-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.card {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/*---CHAT CONTAINER---*/
.chat-container {
  background-color: rgb(250,250,250);
  width: 35%;
  text-align: left;
  z-index: 1;
}
.chat-container .chat-header {
  background: linear-gradient(to bottom, rgb(255, 180, 180), rgb(250, 250, 250));
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.chat-container .option {
  border: 0;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 112, 112);
  font-size: 18px;
  font-weight: 700;
  margin: 0px 2px;
  padding: 6px 12px;
}
.chat-container .option:disabled{
  border-bottom: 5px solid rgb(122, 122, 122);
}
.chat-container .profile,
.chat-container .logout-icon {
  color:rgb(15, 15, 15);
  display: flex;
  align-items: center;
}
.chat-container .avatar-container {
  height: 50px;
  width: 50px;
  border: 25px;
  overflow: hidden;
  margin: 10px;
}
.chat-container .avatar-container .avatar {
  width: 100%;
}
.chat-container .chat{
  padding: 20px;
  height: 50vh;
  overflow-y: auto;
}
.chat-container .chat-input {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.chat-container .chat-input textarea{
  resize: none;
}
.chat-container .chat-input *{
  margin: 5px;
}